<h1>Bienvenido {{finalData.userName}}</h1>
<h3><a href="/auth/profile">
{{#if finalData.isAdmin}}
    Perfil de Administrador
{{else}}
    Perfil de Usuario
{{/if}}
</a></h3>
<h3><a href="/cart/{{finalData.cart}}">Ir al carrito</a></h3>
<h3><a href="/chat">Chat</a></h3>
<h5><a method='delete' href="/auth/logout">Cerrar sesión</a></h5>
<div class="products">
    <h1 class="products__title">Lista de productos:</h1>
    <div class="products__container">
    {{#each finalData.payload}}
        <ul class="product__list">
            <li class="list__item">Producto: {{title}}</li>
            <li class="list__item">Descripción: {{description}}</li>
            <li class="list__item">Código: {{code}}</li>
            <li class="list__item">Precio: {{price}}</li>
            <li class="list__item">Stock: {{stock}}</li>
            <li class="list__item">Categoría: {{category}}</li>
            <button data-cart="{{../finalData.cart}}" data-id="{{id}}" onclick="addToCart(this)">Agregar al carrito</button>
        </ul>
    {{/each}}
    </div>
</div>
<div class="pagination">
    {{#if finalData.hasPrevPage}}
        <a href={{finalData.prevLink}} class="pagination__link">{{finalData.prevPage}}</a>
    {{/if}}
    <p class="pagination__page">{{finalData.page}}</p>
    {{#if finalData.hasNextPage}}
        <a href={{finalData.nextLink}} class="pagination__link">{{finalData.nextPage}}</a>
    {{/if}}
</div>
<script src="/js/ecommerce.js"></script>